<p>
  <strong>Title:</strong>
  <%= @proposal.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @proposal.text %>
</p>
 
<p>
    <strong>Group Type:</strong>
    <%= @proposal.role.name %>
</p>
 

<p>
  <strong>Created:</strong>
    <%= time_ago_in_words(@proposal.created_at) %> ago
</p>

<p>
  <strong>Author:</strong>
    <%= @proposal.user.email %>
</p>

<%= link_to 'Back', proposals_path %>
| <%= link_to 'Edit', edit_proposal_path(@proposal) %>