<%= render 'navbar' %> 
  <div class="home-logo-div">
    <%= image_tag("proposal-banner.png",  :size => "325x108", :alt => "rss feed") %>
  </div>
    
  <div class="proposal-home-text">
    <h4 style="font-weight: bold;">Proposal System Home</h4>  
  </div>
    
  <div>
    <table style="color:black;background-color:#f2f2f2;width:100%;">
      <tbody>
        <tr>
          <td>
            <p>Welcome <%= current_user.email %></p>
          </td>
          <td>
            <p align="right" class="logout-msg">
              <a id="logout" style="text-decoration:none;color:black;:hover:#fff;" href="#">
                  <%= link_to image_tag("logout_roll.gif",  :size => "39x26", :alt => "rss feed2"), destroy_user_session_path, method: :delete %> 
                  <br>
                  <text class="logout-text" style="color:black;"><%= link_to "Logout", destroy_user_session_path, method: :delete %></text>
              </a>
            </p>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Is_Multi_Role:</strong>
  <%= @role.is_multi_role? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
