<!DOCTYPE html>
<html>
    
   
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
   float: left; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
   background-color: #111111;
}
</style>
<body>
<ul>
  <li> <a href="<%= new_proposal_path %>">Create Proposals</a></li>
  <li> <a href="/proposals">Active Proposals</a></li>
  <li> <a href="/proposals">Archived Proposals</a></li>
  <li> <a href="#settingsPage">Settings</a></li>
</ul>
    

</body>
  <head>
    <title>Faculty Voting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
        <% if user_signed_in? %>
          Welcome, <%= current_user.email %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      
    <%= yield %>
  </body>
</html>
